* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

/* Header Start */

.nav {
    background-color: #0f4c6e;
}

.sticky-top {
    top: 0;
    position: sticky !important;
    z-index: 1030;
}

.navbar-brand {
    font-family: 'Arial', sans-serif;
    letter-spacing: .1rem;
    font-size: 1.8rem !important;
    position: relative;
}

.navbar-nav li a {
    color: #ffffff;
    transition: all ease-in-out .2s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

.nav-item .nav_line {
    width: 0;
    height: 3px;
    background-color: #1e7ed1;
    transition: all ease-in-out .4s;
}

.navbar-nav li:hover .nav_line {
    width: 100%;
}

/* Proflie Section  */

.Profile_section {
    background-color: #0C4160;
}

.Profile_section .text_box h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.Profile_section .text_box h2 span {
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
}

.Profile_section .text_box h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.Profile_section .text_box p {
    font-family: Arial, Helvetica, sans-serif;
}

.Profile_section .text_box a {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 0px 1px 4px white;
    transition: all ease-in-out .3s;
    background-color: #1365AD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.Profile_section .text_box a:hover {
    color: #ffffff;
    background-color: #738fa7;
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(7, 19, 48, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img_box {
    position: relative;
}

.img_box::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-bottom: 8px solid #C3CEDA;
    border-right: 8px solid #C3CEDA;
    right: -30px;
    bottom: -30px;
}

.img_box::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 8px solid #C3CEDA;
    border-left: 8px solid #C3CEDA;
    left: -30px;
    top: -30px;
}

.typing {
    color: #1365ad;
    font-weight: 600;
}


/* About Us Start */

.about_us_section {
    background-color: #738FA7;
}

.about_dash1 {
    width: 4rem;
    height: .2rem;
    background-color: #1365AD;
}

.about_dash2 {
    width: 2rem;
    height: .2rem;
    background-color: #1365AD;
}

.about_us_section .text_box {
    font-family: "Poppins", sans-serif;
}

.about_us_section .text_box span {
    font-weight: 800px;
    color: #071330;
}

.info_menu li {
    list-style: none;
    border-bottom: 3px solid #cccccc;
}

.info_menu li span {
    color: #cccccc;
}

.progress {
    height: .5rem !important;
}

.progress-bar {
    height: .5rem !important;
    background-color: #1365AD !important;
}

.info button {
    color: #ffffff;
    font-weight: 600;
    transition: all ease-in-out .3s;
    font-size: 1rem;
    background-color: #1365AD;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info button:hover {
    color: #ffffff;
    background-color: #738fa7;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Education {
    font-family: "Poppins", sans-serif;
}

/* Services Section Start */

.services_section {
    background-color: #0C4160;
}

.heading {
    font-family: "Poppins", sans-serif;
}

.service_main a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
}

.services_box {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service_img div {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
}

.services_box:hover i {
    color: rgb(226, 226, 226);
}

.services_box:hover .service_img div {
    background-color: black;
}

/* Portfolio Section Start  */

.portfolio_section {
    background-color: #738FA7;
}

.heading_project {
    font-family: "Poppins", sans-serif;
}

.portfolio_box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contact Section Start */

.contact_section {
    background-color: #0C4160;
}

.boxs {
    font-family: "Poppins", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boxs span {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
}

.boxs:hover i {
    color: rgb(226, 226, 226);
}

.boxs:hover span {
    background: black;
}

.contact_form_box .btn {
    color: #ffffff;
    background: #1365AD;
}

.contact_form_box .btn:hover {
    background-color: #738FA7;
}